body{
  font-family: sans-serif;
}

h2 {
  float: left;
  left: 500px;
  color: #32cd32;
}

button {
  width: 40px;
  height: 40px;
  /*display: inline-block;*/
  background-color: #32cd32;
  border-radius: 45px;
  outline: none;
}

nav {
  width: 60%;
  margin-left: 20%;
  text-align: center;
  /*outline: 1px solid green;*/
}

a{
text-decoration: none;
color: black;
}

a:hover {
  color: white;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

li:hover {
  background-color: #32cd32;
}

.enabled-menu{
  display: block;
}

.disabled-menu{
  display: none;
}
